<div class="container">
    <!-- codigo apartir de aqui-->
    <div class="sec">
        <div class="gallery">
            <a target="_blank" href="BolsaTrabajo.html">
                <img src="../views/partials/BolsaTrabajo4.jpg" alt="ImagenBolsa">
            </a>
            <div class="desc">Bolsa de Trabajo</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="SeguimientoEgresados.html">
                <img src="../views/partials/SeguEgresados2.png" alt="ImagenEgresados">
            </a>
            <div class="desc">Seguimiento de Egresados</div>
        </div>
    </div>
</div>