 <main class="login-design">
        <div class="waves">

        </div>
        <div class="login">
            <div class="login-data">
                <h1>Inicio de sesión</h1>
                <form action="#" class="login-form">
                    <div class="input-group">
                        <label class="input-fill">
                            <input type="email" name="email" id="email" required>
                            <span class="input-label">Correo electrónico</span>
                        </label>
                    </div>
                    <div class="input-group">
                        <label class="input-fill">
                            <input type="password" name="password" id="password" required>
                            <span class="input-label">Contraseña</span>
                        </label>
                    </div>
                    <div class="input-group">
                        <label class="input-fill">
                            <a href="https://www.youtube.com/watch?v=dmW68lzaaqs&ab_channel=PauloLondra">Registrate aquí</a>
                            <br>
                            <a href="https://www.youtube.com/watch?v=sidPTvbTv9o&ab_channel=TiagoPZK">¿Olvidaste tu conatraseña?</a>
                            <br>    
                        </label>
                    </div>
                    <input type="submit" value="Iniciar Sesión" class="btn-login">
                </form>
            </div>
        </div>
    </main>