<style>
  .card {
    background-color: rgb(184, 184, 184);
    padding: 20px;
    margin-top: 20px;
    text-align: justify;
    border-radius: 10px 10px;
  }

  .newspaper {
    column-count: 1;
    column-gap: 30px;
    column-width: 100px;
  }
</style>
{{>navbarAlumnos}}

<div class="container">
  <div class="row">
    <div class="col-6 card d-flex justify-content-center">
      <h6>Practicas para Harman</h6>
      <div class="newspaper">
        <div class="fakeimg">
          <img src="https://i.ibb.co/khB92hX/Practicas-Harman.jpg" width="100%" height="auto">
        </div>
        <p></p>
      </div>
      <input type="button" value="LIKE">
    </div>
  </div>
</div>