<div class="divconteiner">
  <div class="container mt-3">
    <a href="#demo" class="btn btn-primary" data-bs-toggle="collapse">Publicar</a>
    <div id="demo" class="collapse">
      <div class="publi">
        <form method="post">
          <label for="nombre" class="left">Titulo:</label><br>
          <input type="text" name="nombre"><br><br>
          Descripción<br>
          <textarea name="comment" rows="5" cols="40"></textarea><br><br>
          <label for="myfile">Subir una foto:</label><br>
          <input type="file" id="myfile" name="myfile"><br><br>
          <input type="submit" name="submit" value="Publicar">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h6>Practicas para Harman</h6>
      <div class="newspaper">
        <div class="fakeimg">
          <img src="https://i.ibb.co/khB92hX/Practicas-Harman.jpg" width="100%" height="auto" ;>
        </div>
        <p></p>
      </div>
      <input type="button" value="LIKE">
    </div>
  </div>
</div>