<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h6>Practicas para Harman</h6>
      <div class="newspaper">
        <div class="fakeimg">
          <img src="img/PracticasHarman.jpg" width="100%" height="auto";>
        </div>
        <p></p>       
      </div>
      <input type="button" value="LIKE">      
    </div>
    </div>  
  </div>