<!--ignacio-->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="shadow-lg p-3 mb-5 mt-4 bg-body rounded"></div>    
                <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Ingresa el correo con el que te registraste</div>
                </div>


                <button type="submit" class="btn btn-primary">Recuperar</button>
                </form>
            </div>
        </div>
    </div>
</div>