<div class="container mt-3">

  <div class="responsive">
    <div class="gallerie">
      <a target="_blank" href="../partials/images/GOBMxlogo.png">
        <img src="GOBMxlogo.png" alt="Cinque Terre" width="600" height="400">
      </a>
    </div>
  </div>


  <div class="responsive">
    <div class="gallerie">
      <a target="_blank" href="img_forest.jpg">
        <img src="img/SEPlogo.png" alt="Forest" width="600" height="400">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallerie">
      <a target="_blank" href="img_lights.jpg">
        <img src="img/TECNMlogo.jpg" alt="Northern Lights" width="600" height="400">
      </a>
    </div>
  </div>


  <div class="clearfix"></div>

</div>



<ul class="topnav">
  <li><a href="/">Inicio</a></li>
  <li><a href="BolsaTrabajo.php">Bolsa de Trabajo</a></li>
  <li><a href="SeguimientoEgresados.php">Perfil egresado</a></li>
  <li><a href="Muro.php">Muro</a></li>
</ul>