<div class="container mt-3">

  <div class="responsive">
    <div class="gallerie">
      <a target="_blank" href="https://www.gob.mx/">
        <img src="https://brandemia.org/sites/default/files/inline/images/gobierno_de_mexico_2018-24_logo_type_only.jpg"
          alt="Cinque Terre" width="600" height="400">
      </a>
    </div>
  </div>


  <div class="responsive">
    <div class="gallerie">
      <a target="_blank" href="https://www.gob.mx/sep">
        <img src="http://www.lavozdetamaulipas.mx/wp-content/uploads/2021/08/cover_educacion-1.jpg" alt="Forest"
          width="600" height="400">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallerie">
      <a target="_blank" href="https://www.tecnm.mx/">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Tecnologico_Nacional_de_Mexico.svg/800px-Tecnologico_Nacional_de_Mexico.svg.png?20201009013701"
          alt="Northern Lights" width="600" height="400">
      </a>
    </div>
  </div>


  <div class="clearfix"></div>

</div>


<ul class="topnav">
  <li><a href="/">INICIO</a></li>
  <li><a href="/users/muro">Bolsa de Trabajo</a></li>
  <li><a href="/users/profileEgresado">Perfil egresado</a></li>
  <li><a href="/users/profileStudent">Perfil Estudiante</a></li>
  <li><a class="active" href="/users/admin/muro">Muro</a></li>
  <li><a href="/login">Login</a></li>
</ul>