<div class="container mt-3">
    
  <div class="responsive">
    <div class="gallerie">
      <a target="_blank" href="../partials/images/GOBMxlogo.png">
        <img src="GOBMxlogo.png" alt="Cinque Terre" width="600" height="400">
      </a>
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallerie">
      <a target="_blank" href="img_forest.jpg">
        <img src="SEPlogo.png" alt="Forest" width="600" height="400">
      </a>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallerie">
      <a target="_blank" href="img_lights.jpg">
        <img src="TECNMlogo.jpg" alt="Northern Lights" width="600" height="400">
      </a>
    </div>
  </div>
  

  <div class="clearfix"></div>

  </div>

  

  <ul class="topnav">
    <li><a  href="/">INICIO</a></li>
    <li><a href="/users/muro">Bolsa de Trabajo</a></li>
    <li><a href="">Perfil egresado</a></li>
    <li><a class="active" href="/users/admin/muro">Muro</a></li>
  </ul>